/* Standard Elements */
html {font-size:100.01%;}
body {font-size:100%; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1;}
h1, h2, h3 {color:#333333;}
h1 {font-size:3em; margin-bottom:0.5em;}
h2 {font-size:2em; margin-bottom:0.75em;}
h3 {font-size:1.5em; margin-bottom:1em;}
p {margin:0 0 1.5em; color: #000;}
em {font-style:italic;}
li ul, li ol {margin:0;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}


/* Sections */
#header {
	/* ____ */
}

#main {
	/* ____ */
}

#footer {
	/* ____ */
}
