{% extends "base.html" %}

{% block "main" %}
<h1>Create Event</h1>

<div class="events__control">
    <a href="{% url 'events:list'%}">Back To Events</a>
</div>
<hr/>
<div class="events__editor">
  <form action="{% url 'events:create' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Create">
      <a class="btn btn-secondary" href="{% url 'events:list'%}">Cancel</a>
  </form>
</div>

{% endblock %}


