{% extends "base.html" %}
{% load tz %}

{% block "main" %}
<h1>Event: "{{object.title}}"</h1>

<div class="events__control">
    <a href="{% url 'events:list'%}">Back To Events</a>
    |
    <a href="{% url 'events:create'%}">Schedule a New Event</a>
</div>
<hr/>
<div class="event__detail">
    <h2>{{event.title}}</h2>
    <div class="row p-3">
      <div class="col-3">Created By:</div>
      <div class="col-3">
        {{event.created_by.public_name}}
        {% if event.created_by == user %}
        (you) - <a href="{% url 'events:update' event_id=event.id %}">Edit</a>
        {% endif %}
      </div>
    </div>
    <div class="row p-3">
      <div class="col-3">Starts:</div>
      <div class="col-3"><time>{{ event.starts_at }}</time></div>
    </div>
    <div class="row p-3">
      <div class="col-3">Ends:</div>
      <div class="col-3"><time>{{ event.ends_at }}</time></div>
    </div>
    <div class="row p-3">
      <div class="col-3">Duration:</div>
      <div class="col-3"><time>{{ event.duration }}</time></div>
    </div>
    <div class="row p-3">
      <div class="col-12"><time>{{ event.description }}</time></div>
    </div>
    <hr />
    <div class="attendees">
      <h3>Attendees</h3>
      <div class="attendees__pagination col-10 offset-1">
        {% if page_obj.has_other_pages %}
        <ul class="pagination small">
          {% if page_obj.has_previous %}
          <li class="col-4 text-left"><a href="?page={{ page_obj.previous_page_number }}">Previous {{ page_obj.per_page }}</a></li>
          {% endif %}
          <li class="col-4 text-center"><span>{{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }} attendees</span></li>
          {% if page_obj.has_next %}
          <li class="col-4 text-right"><a href="?page={{ page_obj.next_page_number }}">Next {{ page_obj.per_page }}</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
      <div class="attendees__item container">
        <div class="row">
          {# for attendee in page_obj.object_list #}
          {% for attendee in event.attendees.all %}
          <div class="col-3 p-2 text-center">{{ attendee.public_name }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>

{% endblock %}


