{% extends "base.html" %}
{% load tz %}

{% block "main" %}
<h1>Events</h1>

<div class="events__control">
    <a href="{% url 'events:create'%}">Schedule a New Event</a>
</div>
<hr/>
<div class="events__list">
    <div class="events__pagination col-6">
        {% if page_obj.has_other_pages %}
          <ul class="pagination small">
            {% if page_obj.has_previous %}
              <li class="col-4 text-left"><a href="?page={{ page_obj.previous_page_number }}">Previous Events</a></li>
            {% else %}
            <li class="col-4 text-left"><em>Past Events Are Hidden</em></li>
            {% endif %}
            <li class="col-4 text-center"><span>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
            {% if page_obj.has_next %}
              <li class="col-4 text-right"><a href="?page={{ page_obj.next_page_number }}">More Events</a></li>
            {% else %}
              <li class="col-4 text-left"><em>No More Events</em></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>

    {% for event in object_list %}
    <div class="event__item">
        <h5>{{event.title}}</h5>
        <time>{{ event.starts_at }}</time>
        —
        <time>{{ event.ends_at }}</time>
        <em>(duration: {{ event.duration }})</em>
        - {{ event.attendee_count }} attendees
        <div class="event__item__user">
            <cite>Created by: {{event.created_by.public_name}}</cite>
        </div>
        <br />
        {% if event.created_by == user %}
        <a href="{% url 'events:detail' event_id=event.id %}">View</a>
        |
        <a href="{% url 'events:update' event_id=event.id %}">Edit</a>
        {% endif %}
    </div>
    <hr />
    {% endfor %}
    
    <div class="events__pagination col-6">
        {% if page_obj.has_other_pages %}
          <ul class="pagination small">
            {% if page_obj.has_previous %}
              <li class="col-4 text-left"><a href="?page={{ page_obj.previous_page_number }}">Previous Events</a></li>
            {% else %}
              <li class="col-4 text-left"><em>No Previous Events</em></li>
            {% endif %}
            <li class="col-4 text-center"><span>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
            {% if page_obj.has_next %}
              <li class="col-4 text-right"><a href="?page={{ page_obj.next_page_number }}">More Events</a></li>
            {% else %}
              <li class="col-4 text-left"><em>No More Events</em></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>
</div>

{% endblock %}

