{% load static %}
<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">

  <title></title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/eventuality.css' %}">
  
</head>
<body>
    <section id="header" class="container">
        <div class="row">
            <div class="current_user col-4 offset-8 text-right">
                {% if user and user.is_authenticated %}
                Logged in as: {{user.public_name}}
                <a href="{% url 'logout' %}">Log out</a>
                {% else %}
                <a href="{% url 'login' %}">Log in</a>
                {% endif %}
                <br />
                <cite>Note: All event times are in UTC.</cite>
                <br />
                Current Time: <time>{% now 'DATETIME_FORMAT' %}</time>
            </div>
        </div>
    </section>

    <section id="main" class="container">
        {% block "main" %}{% endblock %}
    </section>

</body>
<script src="https://unpkg.com/jquery@3.2.1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap@4.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
