{% extends "base.html" %}

{% block "main" %}
<h1>Login To Your Account</h1>

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>

<hr />

<h2>Are you new here?</h2>
<a href="{% url 'register' %}">Register An Account</a>

{% endblock %}


