{% extends "base.html" %}

{% block "main" %}
<h1>Register An Account</h1>

<form action="{% url 'register'%}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Register">
</form>

<hr />

<h2>Already have one?</h2>
<a href="{% url 'login' %}">Login</a>

{% endblock %}
